In [51]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#!pip install geocoder
import geocoder

#!pip install geopy
from geopy.geocoders import Nominatim

import time

Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)

Read in the table from the wikipedia page

In [19]:
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)
df = df[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove all rows without an assigned Borough

In [24]:
df.drop(df[df['Borough'] == 'Not assigned'].index, 0, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Shape of the dataframe

In [33]:
df.shape

(103, 3)

Attempted using gelocator to get the Latitude and Longitude of each Postal Code. It would get the first one then infinite loop the second one

In [54]:
'''geolocator = Nominatim(user_agent="ny_explorer")
postal_codes = df['Postal Code'].tolist()
latitudes = []
longitudes = []
for i, postal_code in enumerate(postal_codes):
    # initialize your variable to None
    print(f'--Getting Postal Code: {postal_code}')
    g = None
    count = 0
    while g == None:
        
        g = geolocator.geocode(f'{postal_code}, Toronto, Ontario')
        count += 1
        if count % 5 == 0:
            print(f'Attempt {count} for {postal_code}')
            time.sleep(5)
    
    print(f'Postal Code {postal_code} has been retrieved. {len(postal_codes) - (i + 1)} codes left\n')
    latitudes.append(g.latitude)
    longitudes.append(g.longitude)
    time.sleep(10)'''

'geolocator = Nominatim(user_agent="ny_explorer")\npostal_codes = df[\'Postal Code\'].tolist()\nlatitudes = []\nlongitudes = []\nfor i, postal_code in enumerate(postal_codes):\n    # initialize your variable to None\n    print(f\'--Getting Postal Code: {postal_code}\')\n    g = None\n    count = 0\n    while g == None:\n        \n        g = geolocator.geocode(f\'{postal_code}, Toronto, Ontario\')\n        count += 1\n        if count % 5 == 0:\n            print(f\'Attempt {count} for {postal_code}\')\n            time.sleep(5)\n    \n    print(f\'Postal Code {postal_code} has been retrieved. {len(postal_codes) - (i + 1)} codes left\n\')\n    latitudes.append(g.latitude)\n    longitudes.append(g.longitude)\n    time.sleep(10)'

In [55]:
latlong = pd.read_csv('https://cocl.us/Geospatial_data')
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [57]:
new_df = pd.merge(df, latlong, 'left', 'Postal Code')
new_df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494